@page "/"
@inject IExpensesService ExpensesService
@inject IJSRuntime jsRunTime;

<PageTitle>Index</PageTitle>

<h1>Expenses Summary</h1>
<div id="chartdiv"></div>
@code {
    List<Expense> allExpesnes = new List<Expense>();
    ExpenseSummary summary = new ExpenseSummary();

    protected override async Task OnInitializedAsync()
    {     
        await ExpensesService.GetExpenses();
        await jsRunTime.InvokeVoidAsync("GeneratePieChart", summary.GetSummary(ExpensesService.AllExpenses,DateTime.Now.Month));
    }


}