@page "/monthlyexp"
<!-- above is the route, href -->
@inject IMonthlyExpService MonthlyExpService
<PageTitle>Monthly Expenses</PageTitle> <!-- this is how we will define this file in navmenu-->
<h3>Monthly Expenses</h3>

<table class="table">
    <thead>
        <tr>
            <th>Money</th>
            <th>Comment</th>
            <th>Category</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entry in MonthlyExpService.MonthlyExps)
        {
            <tr>
                <td>@entry.Money</td>
                <td>@entry.Comment</td>
                <td>@entry.Category.Title</td>
                <td></td>
            </tr>
        }
    </tbody>
</table>

@code {
    protected override async Task OnInitializedAsync()
    {
        await MonthlyExpService.GetMonthlyExps();
    }
}
