@page "/"
@inject IExpensesService ExpensesService
@inject IJSRuntime jsRunTime;

<PageTitle>Pie Chart</PageTitle>

<h1>@((Dates.Months)DateTime.Now.Month) expenses</h1>
<div id="chartdiv"></div>
@code {
    protected override async Task OnInitializedAsync()
    {     
        await ExpensesService.GetEveryExpense();
        await ExpensesService.GetCategories();
        await jsRunTime.InvokeVoidAsync("GeneratePieChart", ExpensesService.GetSummary(ExpensesService.everyExpense, DateTime.Now.Month));
    }


}