@page "/"
@inject IExpensesService ExpensesService
@inject IJSRuntime jsRunTime;
@implements IDisposable



<PageTitle>Pie Chart</PageTitle>

<h1>@((Dates.Months)DateTime.Now.Month) expenses</h1>
<div id="chartdiv"></div>
@code {
    protected override async Task OnInitializedAsync()
    {     
        await ExpensesService.GetCategories();
        await ExpensesService.GetSummary();
        await jsRunTime.InvokeVoidAsync("GeneratePieChart", ExpensesService.Summary);
    }
    public void Dispose(){
       jsRunTime.InvokeVoidAsync("DisposePieChart");
    }
}