@page "/pie-chart"
@inject IExpensesService ExpensesService
@inject IIncomesService IncomesService
@inject IJSRuntime jsRunTime;
@implements IDisposable



<PageTitle>Statistics</PageTitle>

<h1>@((Dates.Months)DateTime.Now.Month) expenses</h1>
<div id="chartdiv"></div>


@code {
    [CascadingParameter]
    public Error Error { get; set; }

    protected override async Task OnInitializedAsync()
    {     
        await ExpensesService.GetCategories();
        await ExpensesService.GetSummary();
        var ExpenseSummaryList = ExpensesService.Summary;
        try
        {
            await jsRunTime.InvokeVoidAsync("GeneratePieChart", ExpenseSummaryList);
        }
        catch(System.Exception ex)
        {
            Error.ProcessError(ex);
        }

    }
    public void Dispose(){
       jsRunTime.InvokeVoidAsync("DisposePieChart");
    }
}