@page "/"
@inject IExpensesService ExpensesService
@inject IIncomesService IncomesService

<h3>Welcome, @user.nickname</h3>
<h3>Balance: @user.balance €</h3>

@foreach(var expense in user.expenses)
{
    <div>
            @expense.Year
    </div>
}


@code {
    User? user;

    public Welcome()
    {
        TempUsers();
        LoadUser(0);
    }

    protected override async Task OnInitializedAsync()
    {
        await ExpensesService.GetExpenses();
        await ExpensesService.GetCategories();
        await IncomesService.GetIncomes();
    }

    public void LoadUser(int i)
    {
        //User.setExpenses(i, ExpensesService.AllExpenses);
        user = User.GetUser(i);
    }

    public void TempUsers()
    {
        new User("Linas", "2002-05-12", "linas.jann@gmail.com", balance: 2000);
        new User("Deniza", "2002-04-12", "deniza@gmail.com");
        new User("Jokubas", "2002-11-12", "jokubas@gmail.com");

    }

}
