@page "/"
@inject IExpensesService ExpensesService
@inject IIncomesService IncomesService

<h3>Welcome, @User.GetUser(0).nickname</h3>
<h3>Welcome, @User.GetUser(1).nickname</h3>
<h3>Welcome, @User.GetUser(2).nickname</h3>

@code {

    protected override void OnInitialized()
    {

        new User("Linas", "2002-05-12", "linas.jann@gmail.com");
        new User("Deniza", "2002-04-12", "deniza@gmail.com");
        new User("Jokubas", "2002-11-12", "jokubas@gmail.com");

    }

    protected override async Task OnInitializedAsync()
    {
        await ExpensesService.GetExpenses();
        await ExpensesService.GetCategories();
        await IncomesService.GetIncomes();
    }

}
