@page "/"
@inject IExpensesService ExpensesService
@inject IIncomesService IncomesService

<h3>Welcome, @user.nickname</h3>


@code {
    User? user;

    protected override void OnInitialized()
    {

        new User("Linas", "2002-05-12", "linas.jann@gmail.com");
        new User("Deniza", "2002-04-12", "deniza@gmail.com");
        new User("Jokubas", "2002-11-12", "jokubas@gmail.com");
        user = User.GetUser(0);
    }

    protected override async Task OnInitializedAsync()
    {
        await ExpensesService.GetExpenses();
        await ExpensesService.GetCategories();
        await IncomesService.GetIncomes();
    }

}
