@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <BlazoredToasts />
        <article class="content px-4">
            <ErrorBoundary>
                <ChildContent>
                    @Body
                </ChildContent>
                <ErrorContent Context="Exception">
                    <div class="alert alert-primary">
                        <h3>Exception happened and been logged</h3>
                    </div>
                </ErrorContent>
            </ErrorBoundary>           
        </article>
    </main>
</div>
